html,
body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

/* Dejar la dimensión del swiper flexible */
.swiper {
    width: auto;
    height: auto;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #000;
    background: rgba(0, 0, 0, 0.2);
}

.swiper-pagination-bullet-active {
    color: #fff;
    background: #007aff;
}

/** LOADING **/
.page-loading {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all .4s .2s ease-in-out;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    z-index: 9999;
}

[data-bs-theme="dark"] .page-loading {
    background-color: #0b0f19;
}

.page-loading.active {
    opacity: 1;
    visibility: visible;
}

.page-loading-inner {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
    transition: opacity .2s ease-in-out;
    opacity: 0;
}

.page-loading.active>.page-loading-inner {
    opacity: 1;
}

.page-loading-inner>span {
    display: block;
    font-size: 1rem;
    font-weight: normal;
    color: #fff;
}

[data-bs-theme="dark"] .page-loading-inner>span {
    color: #fff;
    opacity: .6;
}

.page-spinner {
    display: inline-block;
    width: 2.75rem;
    height: 2.75rem;
    margin-bottom: .75rem;
    vertical-align: text-bottom;
    border: .15em solid #b4b7c9;
    border-right-color: transparent;
    border-radius: 50%;
    animation: spinner .75s linear infinite;
}

[data-bs-theme="dark"] .page-spinner {
    border-color: rgba(255, 255, 255, .4);
    border-right-color: transparent;
}

@keyframes spinner {
    100% {
        transform: rotate(360deg);
    }
}

/* CUSTOM */
.mb-40 {
    margin-bottom: 40px !important
}

/** HEADER **/
header {
    margin-top: 25px;
    padding: 0 !important;
    background-color: unset !important;
}

header .container {
    justify-content: center !important;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 0 25px !important;
}

header .navbar-nav {
    width: 707px;
    max-width: fit-content !important;
    height: 57px;
    max-height: 57px;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 107px;
    gap: 10px;
    top: 25px;
    position: fixed;
    z-index: 1111111;
    background: rgba(255, 255, 255, 0.6);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(10px);
    border-radius: 72px;
    border: 1px solid #ffffffaa;
}

.navbar-expand-lg .offcanvas .offcanvas-body {
    display: flex !important;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

header #navbarNav li a {
    font-family: var(--kc-font-sans-serif);
    font-size: 16px;
    font-weight: 400 !important;
    letter-spacing: .1px;
    color: #414141;
    text-shadow: 0 0 0 #334DB500;
    transition: all .3s;
}

header #navbarNav li a:hover,
header #navbarNav li a:active {
    color: #4061E2;
    text-shadow: 0 0 30px #4061E2ee;
}

.navbar-brand {
    padding: 0;
}

.navbar-stuck {
    box-shadow: none;
}

#menu {
    display: none;
}

.bg-white {
    background-color: #fff !important;
}

/** ANIM **/
.scroll-animate {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity .6s ease-out var(--delay, 0s), transform .6s ease-out var(--delay, 0s), box-shadow .3s ease-in-out;
}

.scroll-animate.visible {
    opacity: 1;
    transform: translateY(0);
}

/** BODY **/
html {
    scroll-behavior: smooth;
}

body {
    padding: 0 !important;
    overflow-x: hidden;
    max-width: 100vw !important;
    font-family: var(--kc-body-font-family);
}

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
    font-family: var(--kc-title-font-family)
}

h1 {
    color: var(--kc-gray-dark);
}

h4.alt {
    font-family: var(--kc-body-font-family);
    color: var(--kc-gray);
}

.display-1 {
    font-size: 60px;
}

.color-blue {
    color: var(--kc-blue)
}

.color-blue-alt {
    color: var(--kc-blue-alt)
}

.color-lightblue {
    color: var(--kc-lightblue)
}

a.btn {
    font-size: 16px;
    font-family: var(--kc-body-font-family);
    font-weight: 400;
    cursor: pointer !important;
}

.btn.book {
    color: #fff;
    font-weight: 400;
    cursor: pointer !important;
    box-sizing: border-box;
    padding: 8px 20px;
    gap: 10px;
    width: 140px !important;
    height: 40px !important;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        linear-gradient(95.75deg, #8427D2 0%, #4061E2 50%, #2EA1F9 100%);
    box-shadow: 0px 0px 20px rgba(0, 38, 190, 0.3);
    border-radius: 50px;
    margin: 0 0 80px;
    flex: none;
    flex-grow: 0;
}

.btn.book:hover {
    box-shadow: 0px 0px 20px rgba(0, 38, 190, 0.3);
    background-size: 100%;
    filter: saturate(1.1) brightness(1);
}

/* INTRO */
#intro {
    background-image: url(../img/home.png);
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
}

#intro h4 {
    font-size: 24px;
    font-weight: 400;
    color: var(--kc-gray);
}

#intro p.lead {
    font-size: 18px;
    font-weight: 400;
    color: var(--kc-gray);
}

/* SERVICES */
#services {
    width: 100vw;
    max-width: unset;
    margin: 0 !important;
    background: url(assets/img/services-bg.png);
    background-position-x: right;
}

#services .content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#services .content img {
    width: 157px;
    margin-bottom: -32px;
    background: url(today.png);
    filter: drop-shadow(0px 51px 21px rgba(0, 0, 0, 0.01)) drop-shadow(0px 29px 17px rgba(0, 0, 0, 0.05)) drop-shadow(0px 13px 13px rgba(0, 0, 0, 0.09)) drop-shadow(0px 3px 7px rgba(0, 0, 0, 0.1));
}

#services .content h2 {
    width: 761px;
    height: 160px;
    margin: 0 auto;
    font-family: 'PP Telegraf';
    font-style: normal;
    font-weight: 800;
    font-size: 80px;
    line-height: 100%;
    text-align: center;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        linear-gradient(95.75deg, #8427D2 0%, #4061E2 50%, #2EA1F9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    flex: none;
    align-self: stretch;
    flex-grow: 0;
    margin-bottom: 32px;
}

#services .content p.subtitle {
    width: 455px;
    height: 24px;
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #717171;
    flex: none;
    flex-grow: 0;
    margin-bottom: 32px;
}

/* Ajuste del contenedor del swiper */
#services .swiper-container {
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(10px);
    border-radius: 5px;
    padding: 10px 0;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#services .swiper-container .selector-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

#services .swiper-container .selector-container .selector {
    position: relative;
    display: inline-block;
    background: linear-gradient(95.75deg, rgba(132, 39, 210, 0.1) 0%, rgba(64, 97, 226, 0.1) 50%, rgba(46, 161, 249, 0.1) 100%);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(10px);
    border-radius: 500px;
    margin: 20px 20px 35px 20px;
}

#services .swiper-container .selector-container .selector .go-to-slide {
    width: 206px;
    height: 40px;
    text-decoration: none !important;
    font-family: 'Satoshi', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #414141;
    opacity: 0.5;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    user-select: none;
    transition: .2s ease-in-out;
    pointer-events: unset;
}

#services .swiper-container .selector-container .selector .go-to-slide.active {
    color: #fff;
    opacity: 1;
    font-weight: 700;
    pointer-events: none;
}

#services .swiper-container .selector-container .selector .highlight {
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        linear-gradient(95.75deg, #8427D2 0%, #4061E2 50%, #2EA1F9 100%);
    box-shadow: 0px 0px 20px rgba(0, 38, 190, 0.3);
    border-radius: 50px;
    transition: left 0.3s ease, width 0.3s ease;
    z-index: 0;
}

.nested-swiper-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
}

.nested-swiper-container h3 {
    font-family: 'PP Telegraf';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 130%;
    text-align: center;
    color: #414141;
    margin-bottom: 25px;
}

.nested-swiper-container .arrows {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 0;
    margin: 0 auto;
    flex: none;
    flex-grow: 0;
}

.swiper-slide p {
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #777;
    flex: none;
    margin-bottom: 50px;
}

.swiper-slide p.sub {
    font-family: 'PP Telegraf';
    font-size: 20px;
    line-height: 130%;
    color: #222;
    margin-bottom: 0px;
}

.swiper-slide .slide-box {
    box-sizing: border-box;
    padding: 15px 40px;
    background: #FFFFFF;
    box-shadow: 0px 0px 9.18855px 4.59427px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(9.18855px);
    border-radius: 4.59427px;
    margin-bottom: 5px;
    display: inline-block;
    /* Sin ancho fijo, se adapta al contenido */
}

.swipper-button {
    width: 40px;
    height: 40px;
    max-width: 40px;
    max-height: 40px;
    margin: 20px;
    border: 0;
    border-radius: 50%;
    box-shadow: 0px 0px 20px rgba(0, 38, 190, 0.3);
    transition: color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out, box-shadow .2s ease-in-out, opacity .2s ease-in-out;
}

.swipper-button-prev {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        linear-gradient(95.75deg, #2EA1F9 0%, #4061E2 50%, #8427D2 100%);
}

.swipper-button-next {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        linear-gradient(95.75deg, #8427D2 0%, #4061E2 50%, #2EA1F9 100%);
}

.swipper-button i {
    color: #fff;
}

.swiper-button-disabled,
.swiper-button-disabled:disabled {
    opacity: .5;
}

.slide2 .slide-box {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 33px 48px;
    gap: 10px;
    background: linear-gradient(95.75deg, rgba(132, 39, 210, 0.1) 0%, rgba(64, 97, 226, 0.1) 50%, rgba(46, 161, 249, 0.1) 100%), #FFFFFF;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(5px);
    border: 1px solid #ffffffdd;
    border-radius: 10px;
    /* Sin ancho fijo */
}

.slider-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.slider-list li {
    background-size: 15px 15px !important;
    text-align: left !important;
    background: url("../img/bullet.png") no-repeat left center;
    padding-left: 25px;
    margin-bottom: 24px;
    width: auto;
    height: auto;
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #777;
}

.slide-box p {
    width: auto;
    height: auto;
    font-family: 'Satoshi';
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        linear-gradient(95.75deg, #8427D2 0%, #4061E2 50%, #2EA1F9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin-bottom: 0;
    flex: none;
    flex-grow: 0;
}